.formwrapper {
    position: relative;
    background-attachment: #FFFFFF;
    border-radius: 8px;
    padding: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

#contCari {
    background-attachment: #FFFFFF;
    border-radius: 8px;
    padding: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 480px) {
    #row {
        display: flex;
        flex-direction: column;
    }
}