.detailmobil-sty {
    position: relative;
    margin-top: 5%;
    display: flex;
}

.detailmobil-sty .paketMobil {
    width: 100%;
    padding-left: 10%;
    right: 15%;
}

.detailmobil-sty .paketMobil .jumlahorang {
    display: flex;
    padding-bottom: 10%;
}

.detailmobil-sty .paketMobil .total {
    display: flex;
    justify-content: space-between;
}

.lanjutkanpembayaran {
    width: 90%;
    margin: 20px;
}

.cardstyle {
    padding: 20px;
}

.calendarBox {
    max-width: 60%;
    margin-bottom: 5%;
}

.inputBoxCalendar {
    width: 100%;
    padding: 5px;
    border-color: #009C96;
    border-radius: 5px;
    margin-bottom: 30px;
}

.btn-success2 {
    width: 100%;
    background-color: #009C96;
}

.detailimage {
    width: 550px;
}

@media screen and (min-width: 480px) {
    .detailmobil-sty .paketMobil {
        padding-left: 0%;
        display: flex;
    }

    .calendarBox {
        max-width: auto;
    }
}

@media screen and (max-width: 480px) {
    .detailimage {
        width: 270px;
    }
}