.detailmobil-sty {
    position: relative;
    margin-top: 5%;
    display: flex;
}

.detailmobil-sty .paketMobil {
    width: 100%;
    padding-left: 10%;
    right: 15%;
}

.detailmobil-sty .paketMobil .jumlahorang {
    display: flex;
    padding-bottom: 10%;
}

.detailmobil-sty .paketMobil .total {
    display: flex;
    justify-content: space-between;
}

.lanjutkanpembayaran {
    width: 90%;
    margin: 20px;
}

.cardstyle {
    padding: 20px;
}

@media screen and (min-width: 480px) {
    .detailmobil-sty .paketMobil {
        padding-left: 0%;
        display: flex;
    }
}