.formlogin {
    justify-content: center;
    justify-items: center;
    margin: 20%;
}

.input {
    width: 100%;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
}

.buttonlogin {
    width: 100%;
    background-color: #0D28A6;
    padding: 5px;
    margin-top: 5%;
    border-radius: 5px;
    color: white;
    border-color: #0D28A6;
    font-size: 14px;
}

.loginpic {
    height: 50%;
    /* background-color: blue; */
}

.rightcol {
    width: 100%;
    height: 100%;
    background-color: #0D28A6;
}

.smallrectangle {
    width: 150px;
    height: 50px;
    background: #abbaff;
}

.textsignup {
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
}


@media screen and (max-width: 480px) {
    .rowLogin {
        display: grid;
    }

    .rightCol {
        display: none;
    }

    .formlogin {
        justify-content: center;
        justify-items: center;
        margin: 10%;
    }
}